header{
    margin: 0px;
    padding: 0px;
    display: flex;
    border: solid 2px black;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    height: 50px;
}
nav{

}
body{
    background-color: lightgray;
}
#classific2{
   border: solid 2px black;
}
#classific{
    border: solid 2px black;
    height: 100px;
}
section{
    border: solid 2px black;
}

ul{
    margin-right: 20%;
    border: solid 2px black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    width: 70px;
}