header{
    margin: 0px;
    padding: 0px;
    display: flex;
    border: solid 2px black;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    height: 50px;
}
nav{

}
h1{
    padding-left: 0%;
}
section{
    border: solid 2px black;
}
